.table {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  white-space: pre;
}

.table th {
  text-align: left;
  background-color: #eaecf0;
}