.wrapper {
  margin: 0 auto;
  padding-top: 20px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submit-button {
  border-radius: 5px;
  background-color: #5cb85c;
  color: #fff;
  font-size: 15px;
  padding: 10px 12px;
  margin: 20px 0;
}

.submit-button:disabled {
  background-color: #82848a;
}